#mainPageBackground
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;

}
.style
{
    position:relative;
    top:800px;
    height:800px;
    background-color: aliceblue;
    font-size: 36px;
    text-align:center;
}
#mainPageHeader
{
    font-weight:600;
    font-size:30px;
    color: aliceblue;
    position:relative;
    text-align: center;
    top:30px;
}

.mainPageTitle
{
    font-size:75px;
    color:floralwhite;
    position:relative;
    text-align:center;
    top:100px;
}

.logIn
{
    position:absolute;
    text-align: center;
    top:400px;
    left:675px;
    display:inline-block;
    font-size:25px;
    color:azure;
    width:100px;
    height:50px;
    background-color:cornflowerblue;
    
}

.emailPassword
{
    font-size:25px;
    color: aqua;
    position:absolute;
    
    left: 600px;
    top:250px;
}
input[type=text]{
    position:absolute;
    left:30px;
    width:200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=password]{
    position:absolute;
    top:50px;
    left:30px;
    width:200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container
{
    position:absolute;
    left:200px;
    font-style: italic;
}
.images
{
    position:center;
}
/*-----------------------page2---------------------------------*/
#allGroups
{
    font-weight:300;
    font-size:30px;
    color:black;
    position:relative;
    text-align: center;
    top:100px;
    left:0px;
}

.Group1 
{
    position:relative;
    text-align: center;
    top:175px;
    left:200px;
    width:200px;
    height:60px;
    font-size: 25px;
    color:floralwhite;
    background-color:darkslategrey;
}

.Group2
{
    position:relative;
    text-align: center;
    top:175px;
    left:500px;
    width:200px;
    height:60px;
    font-size: 25px;
    color:floralwhite;
    background-color:darkslategrey;
}

.pic1
{
    position:relative;
    left:100px;
    top:150px;
}

.pic2
{
    position:relative;
    left:200px;
    top:150px;
}

#addPathButton
{
    left:450px;
    bottom:175px;
    margin-top: 5px;
    display: block;
    background-color:azure;
}
/*-----------------page3--------------------------------*/
#projectName
{
    font-weight:600;
    font-size:30px;
    color:black;
    position:relative;
    text-align: center;
    top:65px;
    left:-400px;
}

#uploadButton
{
    left:-525px;
    top :-40px;
    margin-top: 5px;
    display: block;
    background-color:black;
}

#deleteButton
{
    right:-525px;
    top :-100px;
    margin-top: 5px;
    display: block;
    background-color:black;
}
#mainpiechart
{
    position:absolute;
    left:800px;
    top:200px;
}
.maintable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position:relative;
    left:300px;
    top:50px;
}
.File1 
{
    position:relative;
    text-align: center;
    top:150px;
    left:300px;
    width:200px;
    height:60px;
    font-size: 25px;
    color:floralwhite;
    background-color:darkslategrey;
}
.File2
{
    position:relative;
    text-align: center;
    top:150px;
    left:400px;
    width:200px;
    height:60px;
    font-size: 25px;
    color:floralwhite;
    background-color:darkslategrey;
}
.File3 
{
    position:relative;
    text-align: center;
    top:150px;
    left:500px;
    width:200px;
    height:60px;
    font-size: 25px;
    color:floralwhite;
    background-color:darkslategrey;
}

#backButton2
{
    left:-670px;
    top :-100px;
    margin-top: 5px;
    display: block;
    background-color:black;
}
/*-----------------page4---------------------------------*/

#homeButton
{
    left:-600px;
    top :20px;
    margin-top: 5px;
    display: block;
    background-color:black;
}
#backButton
{
    left:-525px;
    top :-40px;
    margin-top: 5px;
    display: block;
    background-color:black;
}
#mainPageTopic
{
    font-weight:600;
    font-size:30px;
    color:black;
    position:relative;
    text-align: center;
    top:65px;
    left:-400px;
}

.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position:absolute;
    left:300px;
    top:175px;
}
.table2 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position:absolute;
    left:300px;
    top:375px;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#piechart1
{
    position:absolute;
    left:800px;
    top:90px;
}
#piechart2
{
    position:absolute;
    left:800px;
    top:450px;
}

/*-----------------loading page---------------------------------*/
.loading {
  position: absolute;
  top: 50%;
  left: 47.5%;
}
.loading-bar {
  display: inline-block;
  width: 10px;
  height: 35px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
